
<style type="text/css">
<!--
td.big {font-size:16px}
td.small { font-size:10px}
-->
</style>


<script type="text/javascript">
//<![CDATA[

function warningShowBlock(){
    if(document.getElementById("warning").style.display == ""){
        document.getElementById("warning").style.display = "none";
    }else{
        document.getElementById("warning").style.display = "";
    }
}

//]]>
</script>

<h2>Attendance</h2>
<table>
  <tr>
    <td>
      <% warnings = @absent.messages %>
      <% if warnings.size > 1 %>
        <% first = warnings.shift %>
        <p><b><font color="#990000"> [Warning] <%= raw(first) %> </font></b>
        <a href="javascript:void(0)" onclick="warningShowBlock();" >
        <div id="warning" style="display:none;">
          <% warnings.each do |warning| %>
            <p><b><font color="#990000"> [Warning] <%= raw(warning) %> </font></b></p>
          <% end %>
        </div>
        <font color="#990000">+<%= warnings.size %> warnings exist. Show All...</font></a></p>

      <% elsif warnings.size == 1 %>
          <p><b><font color="#990000"> [Warning] <%= raw(warnings.shift) %> </font></b></br>
      <% end %>
    </td>
  </tr>
<table>

<table border="0" height="700">
  <tr>

    <td valign="top" align="left" width="700">
      <h3><%= @absent.target_user.name %> - FY <%= @absent.this_fiscal_year.year %></h3>

      <table border="0">
        <tr>
          <td align="left" width="160" class="big" bgcolor="#FA58AC">Type</td>
          <td align="center" width="120" class="big" bgcolor="#FA58AC">Initial</td>
          <td align="center" width="120" class="big" bgcolor="#FA58AC">Used</td>
          <td align="center" width="120" class="big" bgcolor="#FA58AC">Remain</td>
          <td align="center" width="120" class="small" bgcolor="#FA58AC">Used In Last Year</br>(FY <%= @absent.pre_fiscal_year.year %>)</td>
          <td/>
        </tr>
        <tr>
          <td class="big" bgcolor="#FFCCFF">Comp Days</td>
          <td align="Center" class="big" bgcolor="#FFCCFF"><%= @absent.init_comp_days %></td>
          <td align="Center" class="big" bgcolor="#FFCCFF"><%= @absent.this_fy_comp_days %></td>
          <td align="Center" class="big" bgcolor="#FFCCFF"><%= @absent.remain_fy_comp_days %></td>
          <td align="Center" class="small" bgcolor="#FFCCFF"><%= @absent.pre_fy_comp_days %></td>
        </tr>
        <tr>
          <td class="big" bgcolor="#FFCCFF">PTO</td>
          <td align="Center" class="big" bgcolor="#FFCCFF"><%= @absent.init_pto_days %></td>
          <td align="Center" class="big" bgcolor="#FFCCFF"><%= @absent.this_fy_pto_days %></td>
          <td align="Center" class="big" bgcolor="#FFCCFF"><%= @absent.remain_fy_pto_days %></td>
          <td align="Center" class="small" bgcolor="#FFCCFF"><%= @absent.pre_fy_pto_days %></td>
        </tr>
        <tr>
          <td class="small" bgcolor="#FBEFF8"> - Paid Leave</td>
          <td align="Center" class="small" bgcolor="#FBEFF8">-</td>
          <td align="Center" class="small" bgcolor="#FBEFF8"><%= @absent.this_fy_paid_days %></td>
          <td align="Center" class="small" bgcolor="#FBEFF8">-</td>
          <td align="Center" class="small" bgcolor="#FBEFF8"><%= @absent.pre_fy_paid_days %></td>
        </tr>
        <tr>
          <td class="small" bgcolor="#FBEFF8"> - Sick Days</td>
          <td align="Center" class="small" bgcolor="#FBEFF8">-</td>
          <td align="Center" class="small" bgcolor="#FBEFF8"><%= @absent.this_fy_sick_days %></td>
          <td align="Center" class="small" bgcolor="#FBEFF8">-</td>
          <td align="Center" class="small" bgcolor="#FBEFF8"><%= @absent.pre_fy_sick_days %></td>
        </tr>
        <tr>
          <td class="big" bgcolor="#FFCCFF">Bereavement</td>
          <td align="Center" class="big" bgcolor="#FFCCFF">-</td>
          <td align="Center" class="big" bgcolor="#FFCCFF"><%= @absent.this_fy_bere_days %></td>
          <td align="Center" class="big" bgcolor="#FFCCFF">-</td>
          <td align="Center" class="small" bgcolor="#FFCCFF"><%= @absent.pre_fy_bere_days %></td>
        </tr>
        <tr>
          <td class="big" bgcolor="#FFCCFF">Unpaid Time Off</td>
          <td align="Center" class="big" bgcolor="#FFCCFF">-</td>
          <td align="Center" class="big" bgcolor="#FFCCFF"><%= @absent.this_fy_unpaid_days %></td>
          <td align="Center" class="big" bgcolor="#FFCCFF">-</td>
          <td align="Center" class="small" bgcolor="#FFCCFF"><%= @absent.pre_fy_unpaid_days %></td>
        </tr>
      <table>
      </br>
      </br>

      <h4>Profile</h4>
      <table border="0">
        <tr>
          <td align="left" width="160" >Start Date: </td>
          <td align="left" ><%= @absent.start_date %></td>
        </tr>
        <tr>
          <td align="left" width="160" >Location: </td>
          <td align="left" ><%= @absent.user_location %></td>
        </tr>
        <tr>
          <td align="left" width="160" >Last Comp Day Awarded: </td>
          <td align="left" ><%= @absent.last_comp_day_awarded %></td>
        </tr>
        <tr>
          <td align="left" width="160" >FY <%= @absent.this_fiscal_year.year %>: </td>
          <td align="left" ><%= @absent.this_fiscal_year.strftime("%Y-%m-%d") %> - <%= @absent.this_fiscal_year_end.strftime("%Y-%m-%d") %></td>
        </tr>
        <tr>
          <td align="left" width="160" >FY <%= @absent.pre_fiscal_year.year %>: </td>
          <td align="left" ><%= @absent.pre_fiscal_year.strftime("%Y-%m-%d") %> - <%= @absent.pre_fiscal_year_end.strftime("%Y-%m-%d") %></td>
        </tr>
      </table>
      </br>
      </br>

      <% if @absent.can_see_others? %>

      <%= form_tag do %>
        <input type="hidden" name="select_user" value="<%= @absent.target_user.id %>">
        <input type="hidden" name="save_flag" value="1">

        <h4>Edit (Restricted Function)</h4>
        <table border="0">
          <tr>
            <td>Last Comp Day(s) Awarded:</td>
            <td><%= (label_tag "date", l(:description_date), :class => "hidden-for-sighted") + (text_field_tag("date", @absent.last_comp_day_awarded, {:id => "date", :size => 10}) + calendar_for('date')).html_safe %></td>
          </tr>
          <tr>
            <td>Modify Comp:</td>
            <td><input type="text" name="init_comp" size="30" maxlength="20" value="<%= @absent.init_comp_days %>"></td>
          </tr>
          <tr>
            <td>Modify PTO:</td>
            <td><input type="text" name="init_pto" size="30" maxlength="20" value="<%= @absent.init_pto_days %>"></td>
          </tr>
          <tr>
            <td><input type="submit" value="Save"/></td>
            <td></td>
          </tr>
      </table>
      </br></br>
      <% end %>
      <% end %>

      <h4>Track</h4>
      <table border="0">
        <tr>
          <td align="left" width="120">Start</td>
          <td align="left" width="120">End</td>
          <td align="left" width="120">Type</td>
          <td align="center" width="120">Days</td>
        </tr>
        <% @absent.tracks.sort{|a, b| a.start_date <=> b.start_date }.reverse.each do |track| %>
          <tr>
            <td align="left"><%= track.start_date %></td>
            <td align="left"><%= track.end_date %></td>
            <td align="left"><%= track.type %></td>
            <td align="center"><%= track.days %></td>
          </tr>
        <% end %>
      </table>
      </br></br>
    * Regarding this page, <%= @absent.enable_start_date %> is initial date.

    </td>
    <td valign="top" align="left">

      <% if @absent.can_see_others? %>
        <table style="width: 350px; border:1px solid #ff00ff;">
          <tr>
            <td>
              <h3>Select A Member (Restricted Function)</h3>
              <%= form_tag({:controller => 'attendance', :action => 'index'}) do %>

                <select name="select_user" size="40">
                  <%# User.find(:all, :conditions => {:status => 1}, :order => 'firstname asc').each do |user| %>
                  <% User.where(status: 1).order(:firstname).each do |user| %>
                    <option value="<%= user.id %>"><%= user.name %></option>
                  <% end %>
                </select>
                <input type="submit" value="Select"/>
              <% end %>
            </td>
          </tr>
        </table>
      <% end %>

    </td>
  </tr>
<table>


